<body>
<app-header></app-header> 

  <div class="container">
<a *ngFor="let comp of comps">
    <div class="row guide-meta__deck__column champions mr-2 bg-dark d-flex justify-content-center border border-white">       
      <div class="text-white align-middle"> <h2>{{comp.IDComp}}</h2></div> 
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ1}}.png" alt={{comp.Champ1}}>      
      </div>
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ2}}.png" alt={{comp.Champ2}}>      
      </div>
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ3}}.png" alt={{comp.Champ3}}>      
      </div>
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ4}}.png" alt={{comp.Champ4}}>      
      </div>
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ5}}.png" alt={{comp.Champ5}}>      
      </div>
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ6}}.png" alt={{comp.Champ6}}>      
      </div>
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ7}}.png" alt={{comp.Champ7}}>        
      </div>
      <div class="tft-champion-box">
        <img class="card-img-top tft-champion" src="//cdn.lolchess.gg/images/tft/champions/set4/{{comp.Champ8}}.png" alt={{comp.Champ8}}>      
      </div>
      
    </div>
    </a>
  </div>
<app-footer></app-footer>
</body>