@import "../node_modules/bootstrap/scss/bootstrap.scss";

.colorheader{
    background-color:#800080;
    margin-bottom: 1%;
};

.container{  
    min-width: 80%;    
};
.panel-section {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    text-align: center;
      };
.bg {
/* The image used */
background-image: url("../../../assets/img/fondo.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
};


  footer {    
    
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    margin-top: 1%;
  };
.Principal{
    height: 100%;
};
.centrado{
    display: flex;
    align-items: center;
};
.vertical-center {
  vertical-align:middle;
  align-items: center;
};

html {
  min-height: 100%;
  position: relative;
};


.modal-div{
  background-color: blue;
  border-radius: 30px;
  text-align: center;
}
::ng-deep .myCustomModalClass {
  font-size: 2rem;
  .modal-dialog { 
    background-color: rgba(255, 255, 255, 0.7);
    padding:1rem;
  }  
  .modal-content {
    color: rgba(255, 255, 255, 0.7)
  }
  .modal-header {
    background-color: red;
  }
  .modal-body {
    background-color: green;
  }
}