@import "~bootstrap/scss/bootstrap";
body{
    background-color: black;
}
p,h1,figcaption{
    color:white;
    text-align: center;
}
iframe{
    max-width: 560px;
    max-height: 360px;
}
.card-img-top{
    max-width: 160px;
    max-height: 360px;
}
.figure{
    margin-left: 10px;
}
img{
    max-width: 100px;
}