@import "~bootstrap/scss/bootstrap";
body{
    background-color:black;
  }

  .container{
    position: relative;
    background-color:black;
  }

  input[type="text"]{

    background-color : black; 
    border-color: darkslategrey;
    color: white;
  
  }

.champImg{
  height: 60px;
  width: 60px;
}
.champPool{
  border-style: solid;
  border-color: darkslategrey;
  padding: 10px;
}
.champboard{
  border-style: solid;
  border-color: darkslategrey;
  padding: 10px;
  min-width: 100% ;
  min-height: 200px;
}

#rombo .champField{
  border-radius:10px;
  background-color:black;
  padding:0;
  width:120px;
  height:120px;
  margin:auto;
  text-align:center;
    display:block;
    border:5px solid darkslategrey;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    transition: transform  0.1s cubic-bezier(0, 1.8, 1, 1.8);
}
#rombo {

  padding:41.42px;
  float:left;
}
#rombo .champField:hover{
  transform:rotate(45deg) scale(1.005) translateX(-0.5px);
  background-color:rgb(20, 181, 145);
  box-shadow:10px 10px 50px rgb(0, 161, 125) inset, -10px -10px 50px rgb(0, 161, 125) inset;
}
#rombo .champField .texto {
  border-radius:4px;
 font-family: Verdana;
  color:white;
 position: relative;
  overflow:hidden;
  padding:20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  font-size:1vw;
  text-transform:uppercase;
 
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
